<div class="navbar">
    <h2>Budgets</h2>

</div>
<div>
<div class="toggle-button-row" (click)="toggleSlideOut()">
    <mat-icon>menu</mat-icon>
</div>
</div>

<div class="slide-out-panel" [class.slide-out]="isSlideOut">
    <div class="slide-out-content">
        <h3 class="nav">Budget Planner</h3>
        <p class="edit-col" (click)="OnDash()">Dashboard</p>
        <p class="edit-col" (click)="OnProfile()">Profile</p>
        <p class="edit-col" (click)="OnHistory()">Prev History</p>
        <p class="edit-col" (click)="OnLogout()">Log Out</p>
    </div>
</div>